<li>
    <a href="#" class="menu-dropdown">
        <i class="menu-icon fa fa-user"></i>
        <span class="menu-text"> 用户管理 </span>
        <i class="menu-expand"></i>
    </a>
    <ul class="submenu">
        <li id="menuUsers">
            <a href="javascript:void(0)" onclick=" load(1) ">
                <span class="menu-text">用户管理</span>
            </a>
        </li>
        <li id="menuChangePass">
            <a href="javascript:void(0)" onclick=" load(2) ">
                <span class="menu-text">修改密码</span>
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="#" class="menu-dropdown">
        <i class="menu-icon fa  fa-file-text-o"></i>
        <span class="menu-text"> 基本信息 </span>
        <i class="menu-expand"></i>
    </a>
    <ul class="submenu">
        <li id="menuProductCategory">
            <a href="javascript:void(0)" onclick=" load(3) ">
                <span class="menu-text">商品类别</span>
            </a>
        </li>
        <li id="menuProduct">
            <a href="javascript:void(0)" onclick=" load(4) ">
                <span class="menu-text">商品管理</span>
            </a>
        </li>
        <li id="menuInfo">
            <a href="javascript:void(0)" onclick=" load(5) ">
                <span class="menu-text">综合信息设置</span>
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="#" class="menu-dropdown">
        <i class="menu-icon glyphicon glyphicon-cog"></i>
        <span class="menu-text"> 库存管理 </span>
        <i class="menu-expand"></i>
    </a>
    <ul class="submenu">
        <li id="menuStockIn">
            <a href="javascript:void(0)" onclick=" load(6) ">
                <span class="menu-text">入库单</span>
            </a>
        </li>
        <li id="menuStockOut">
            <a href="javascript:void(0)" onclick=" load(7) ">
                <span class="menu-text">出库单</span>
            </a>
        </li>
        <li id="menuEmploy">
            <a href="javascript:void(0)" onclick=" load(8) ">
                <span class="menu-text">盘点单</span>
            </a>
        </li>
    </ul>
</li>

