@model Tuple<string,string>
<a href="javascript:void(0)" class="btn   edit" onclick=" editItem('${it.Id}','@Model.Item1','@Model.Item2') "><i class="fa fa-edit"></i> 编辑</a>
<a href="javascript:void(0)" class="btn btn-danger  " onclick=" deleteItem('${it.Id}','@Model.Item1','[${it.Name}]') "><i class="fa fa-trash-o"></i> 删除</a>