@model List<Erp.Cms.Models.Article>
@{
    Layout = "~/Views/Shared/_LayoutWithEmpty.cshtml";
    ViewBag.Title = "四川边防总队后勤信息网";
}
    <link href="/assets/css/dashboad.css" rel="stylesheet" type="text/css" />

    <link type="text/css" href="http://0.ss.faisys.com/css/base.min.css?v=201508311727" rel="stylesheet">
    <link type="text/css" href="http://0.ss.faisys.com/css/template/9004.min.css?v=201508311727" rel="stylesheet" id="templateFrame" class="templateFrameClass">
    <link type="text/css" href="http://0.ss.faisys.com/css/navStyle0.min.css?v=201508252108" rel="stylesheet">


<div class="container-fluid">
    <div class="row">
        <div>
            <table style="width: 1024px;margin-left: auto;margin-right: auto;">
                <tr >
                    <td colspan="2"><img src="/assets/img/banner.gif"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="menu">
                            <ul>
                                <li class="m_line"><img src="/assets/img/line1.gif"/></li>
                                @foreach (var column in Model)
                                {
                                    <li id="@column.Id" class='m_li'><a href="javascript:void(0)" onclick=" onSelectColumn('@column.Id') "
                                                                   onmouseover="onSelectColumn('@column.Id');"  >@column.Name</a></li>
                                     <li class="m_line"><img src="/assets/img/line1.gif" /></li>
                                }
                                <li class="m_line"><img src="/assets/img/line1.gif"/></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 280px">
                        <div class="formBackground " style="margin: 7px 7px 7px 0px;">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 ">
                                    <div class="modal-body">
                                        <img src="~/assets/img/left_icon1.jpg"/><span class="formBannerTitle2">目录</span>
                                        <hr/>
                                        公告
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="formBackground newsDetail">
                            <div class="title">中组部再谈加强党政正职干部管理：选好配强一把手</div>
                            <div class="sourceInfo"><span class="sourceInfoContent">2015-08-19 00:00</span></div>
                            <div  style="height: 5px;"></div>
                            <div class="g_border line"></div>
                            <div class="richContent  richContent3">
                                中组部再谈加强党政正职干部管理：选好配强一把手
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="footer" class="footer" style="background-color: #990000">
                            <div class="footerContent">
                                <div class="footerInfo">
                                    ©2015&nbsp;四川边防总队后勤信息网&nbsp;版权所有
                                </div>
                                <div class="footerSupport">
                                    <span class="footerFaisco">技术支持：13980509508</span>
                                    <span class="footerSep">|</span>
                                    <span id="footerLogin" class="footerLogin"><a hidefocus="true" href="/Manage/Login" target="_blank">管理登录</a></span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
    @section scripts{
        <script>

            function onSelectColumn(id) {
                $("li").each(function(e) {
                    $(this).removeClass("m_li_a");
                });
                $("#" + id).addClass("m_li_a");
            }

        </script>
    }

