<link href="~/assets/js/dropzone/dropzone.css" rel="stylesheet" />
<div class="row" >
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header bg-green">
                <span class="widget-caption">上传图片</span>
            </div>
            <div class="widget-body" id="dropzone">
                <div class="dropzone">
                    <div class="fallback">
                        <input name="file" type="file" multiple="" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-primary">
                <span class="widget-caption">轮播图列表</span>
            </div>
            <div class="widget-body">
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/dropzone/dropzone.js"></script>
<script src="~/assets/js/app/slide.js"></script>