@{
    Layout = "~/Views/Shared/_LayoutWithEmpty.cshtml";
    ViewBag.Title = "主页";
}
@using System.Web.Optimization
<div class="body-404">
    <div class="error-header"> </div>
    <div class="container ">
        <section class="error-container text-center">
            <h1>404</h1>
            <div class="error-divider">
                <h2>page not found</h2>
                <p class="description">页面不存在</p>
            </div>
            <a href="Index" class="return-btn"><i class="fa fa-home"></i>Home</a>
        </section>
    </div>
</div>