<div class="row" >
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-primary">
                <span class="widget-caption">修改密码</span>
            </div>
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-4">
                        <form id="form" class="form-horizontal" name="form">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">当前密码</label>
                                        <div class="col-sm-10">
                                            <span class="input-icon icon-right">
                                                <input type="password" class="form-control" placeholder="当前密码" name="currentPassword" />
                                                <i class="glyphicon glyphicon-lock blue"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">新密码</label>
                                        <div class="col-sm-10">
                                            <span class="input-icon icon-right">
                                                <input type="password" class="form-control" placeholder="新密码" name="newPassword" />
                                                <i class="glyphicon glyphicon-lock blue"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">确认密码</label>
                                        <div class="col-sm-10">
                                            <span class="input-icon icon-right">
                                                <input type="password" class="form-control" placeholder="确认密码" name="confirmPassword" />
                                                <i class="glyphicon glyphicon-lock blue"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-12 text-align-right">
                                            <button class="btn btn-primary" id="changePassword " onclick="changePassword()"><i class="fa  fa-floppy-o"></i> 更新</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/scripts/changePassword.js"></script>