@using System.Web.Optimization
@model  Erp.Eam.Models.ApplicationUser
@{
    ViewBag.Title = "四川边防总队物资器材管理系统";
}

    <!-- Navbar -->
<div class="navbar">
    <div class="navbar-inner">
        <div class="navbar-container">
            <!-- Navbar Barnd -->
            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand">
                    <small>
                        四川边防总队物资器材管理系统
                    </small>
                </a>
            </div>
            <!-- /Navbar Barnd -->
            <!-- Account Area and Settings --->
            <div class="navbar-header pull-right">
                <div class="navbar-account">
                    <ul class="account-area">
                        <li>
                            <a class="navbar-brand" href="#">
                                <h5>欢迎您：@Model.FullName !</h5>
                            </a>
                        </li>
                        <!-- /Account Area -->
                        <!-- Settings -->
                    </ul>
                    <div class="setting">
                        <a  title="登出" href="/Home/SignOut">
                            <i class="icon fa fa-sign-out"></i>
                        </a>
                    </div>
                    <!-- Settings -->
                </div>
            </div>
            <!-- /Account Area and Settings -->
        </div>
    </div>
</div>
    <!-- /Navbar -->
<!-- Main Container -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">
        <!-- Page Sidebar -->
        <div class="page-sidebar" id="sidebar">
            <!-- Sidebar Menu -->
            <ul class="nav sidebar-menu">
                <li class="active" id="menuHome">
                    <a href="javascript:void(0)" onclick=" load(0) ">
                        <i class="menu-icon glyphicon glyphicon-home"></i>
                        <span class="menu-text"> 主页 </span>
                    </a>
                </li>
                @{ Html.RenderPartial("_Menu"); }
            </ul>
            <!-- /Sidebar Menu -->
        </div>
        <!-- /Page Sidebar -->
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="javascript:void(0)" onclick=" load(0) ">主页</a>
                    </li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->
            <!-- Page Header -->
            <div class="page-header position-relative">
                <div class="header-title">
                    <h1 id="bodyTitle">
                        主页
                    </h1>
                </div>
            </div>
            <!-- /Page Header -->
            <!-- Page Body -->
            <div class="page-body">

            </div>
            <!-- Page Body -->
        </div>
        <!-- Page Content -->
    </div>
    <!-- Page Container -->
</div>
@Html.Partial("_tfoot")
@section scripts
{
    @Scripts.Render("~/assets/app")

}

