@using System.Web.Optimization
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-primary">
                <span class="widget-caption">商品分类</span>
            </div>
            <div class="widget-body">
                <div class="table-toolbar">
                    <button type="button" class="btn  " onclick="newCategory()">
                        <i class="fa  fa-plus"></i> 新增
                    </button>
                    <button type="button" class="btn " disabled="disabled" onclick="editCategory()" id="editCategory">
                        <i class="fa   fa-pencil"></i> 编辑
                    </button>
                    <button type="button" class="btn  btn-danger" disabled="disabled" onclick="deleteCategory()" id="deleteCategory">
                        <i class="fa  fa-trash-o"></i> 删除
                    </button>
                </div>
                <div id="CategoryTree" class="ztree">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="submitForm">
    <form id="form" class="form-horizontal" name="form">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-2 control-label no-padding-right">父分类</label>
                    <div class="col-md-10">
                        <div class="input-group">
                            <input type="text" class="form-control" readonly="readonly" required name="parentName" value="${ParentName}">
                            <div class="input-group-btn open">
                                <a class="btn btn-blue " href="javascript:void(0);" aria-expanded="true" onclick=" showCategories() "><i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                        <div class="dropdown-container">
                            <div class="dropdown-preview" style="width: 100%">
                                <div id="menuContent" class="dropdown-menu" style="display: none; width: 100%;">
                                    <ul id="treeCategory2" class="ztree"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-2 control-label no-padding-right">名称</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" placeholder="名称" name="name" value="${Name}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="unknownError" style="display: none;">
            <div class="col-md-12">
                <div class="form-group  has-feedback has-error">
                    <div class="col-md-10 col-md-offset-2">
                        <small class="help-block"></small>
                    </div>
                </div>
            </div>
        </div>
    </form>
</script>
<script src="~/assets/js/app/productCategory.js"></script>

